.splash-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0a0a0a;
  position: relative;
}

.open-notation {
  overflow: hidden;
  white-space: nowrap;
  font-size: 90px;
  line-height: 200px;
  color: #fff;
  position: relative;
  font-family: impact, fantasy;
}

.open-notation-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 190px;
  line-height: 200px;
  color: #fff;
  font-family: impact, fantasy;
}
