
.landing-container{
    font-family:'Lato', sans-serif;
    font-size: 18px; 
    line-height: 1.6;
    background-color: #30363d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.loader-txt{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.loader-txt::after{
    content:'\2026';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
}

@keyframes dots{
    to{
        width: 1.00em;
    }
}