.experience-content {
  display: flex;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
.experience-content-date {
  color: #fff;
  opacity: 0.6;
  flex: 2;
}
.experience-content-detail {
  flex: 5;
}
.experience-content-detail-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  font-weight: 700;
  margin: auto;
}

.company-row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.company-logo {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  padding: 2px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.experience-content-detail-company {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  opacity: 0.9;
  display: flex;
}

.experience-content-detail-company a {
  color: #fff;
  opacity: 1;
}

.company-location {
  color: #fff;
  opacity: 0.7;
}

.experience-content-detail-description {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}

.experience-content-detail-bullets {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}
