.home-container {
    background-color: #292929;
    min-height: 100vh;
}


.ani-txt {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
}


.intro-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.chalk-txt {
    position: absolute;
    left: 160px;
    top: -40px;
    background-image: url(../../images/chalk_txt.png);
    height: 100px;
    width: 500px;
    background-size: cover;
    transform: rotateZ(-10deg);
}

.avator-card {
    height: 205px;
    width: 205px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 25px;
    position: relative;
}

.the-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    cursor: pointer;
}

.the-card:hover {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-image: url(../../images/avatar.jpg);
    background-size: contain;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-image: url(../../images/real_avatar.jpg);
    transform: rotateY(180deg);
    background-size: contain;
}


.greeting-txt {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: center;
}

.welcome-txt {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.name-txt {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.projects-sections {
    margin-top: 80px;
    width: 65%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.project-case {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(400px, auto);
    align-items: center;
}


.case-higher-layer {
    z-index: 10;
}

.case-lower-layer {
    z-index: 5;
}

.case-left {
    grid-column: 1/8;
    grid-row: 1;
}

.case-image {
    height: 100%;
    border-radius: .7rem;
    transition: all 0.5s ease-in 0s;
}

.case-image:hover {
    background-size: 120% !important;
}

.case-content {
    height: 90%;
    display: flex;
}

.project-cover-one {
    background-image: url(../../images/project_cover_one.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.project-cover-two {
    background-image: url(../../images/project_cover_two.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.project-cover-three {
    background-image: url(../../images/project_cover_three.png);
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}

.case-right {
    grid-column: 6/13;
    grid-row: 1;
}


.txt-right {
    text-align: right;
}

.project-content {
    color: #fff;
}

.project-desc {
    margin-top: 1.4em;
    padding: 20px;
    border-radius: .7rem;
    background-color: #383838ea;
}

.left-content {
    width: 100%;
    height: 100%;
}

.right-content {
    width: 100%;
    height: 100%;
}


.project-feature {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #ffc107;
}

.project-title {
    font-size: 22px;
    letter-spacing: 1.5px;
}

.project-desc {
    line-height: 27px;
    letter-spacing: .3px;
}

.highlight-content {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.highlight-content:hover {
    color: #ffc107;
}


.project-stack {
    padding-top: 1rem;
    color: gray;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: monospace;
}

.project-stack div {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}


.section-title {
    color: #fff;
    font-family: monospace;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.skill-section {
    /* width: 80%; */
    width: 65%;
    max-width: 1100px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

.skill-section-row {
    display: flex;
    gap: 3rem;
}

.skill-left {
    width: 50%;
    padding-top: 2rem;
    font-size: 22px;
    color: rgb(187, 187, 187);
    line-height: 35px;
    font-weight: 300;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
}

.skill-left div {
    margin-top: auto;
    margin-bottom: auto;
}

.skill-right {
    width: 50%;
}

.tagcloud {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 5px;
}

.works-section {
    margin-top: 80px;
    width: 65%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
    min-height: 550px;
}


.works-container{
    margin-top: 20px;
    color: #fff;
    margin-left: 10px;
    display: flex;
    gap: 3rem;
}

.works-list{
    min-width: 200px;
    position: relative;
}

.work-title{
    position: relative;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 100;
    letter-spacing: 2.5px;
    color: rgb(187, 187, 187);
    cursor: pointer;
}

.work-title:hover{
   color: #ffc107;
}



#high-light{
    position: absolute;
    width: 4px;
    top: 0;
    height: 40px;
    background-color: #ffc107;
    left: -13px;
    transition: 0.5s;
    border-radius: 4px;

}

.experience-title {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 2px;
}

.time-line{
    padding-top: 5px;
    color: rgb(187, 187, 187);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
}

.experience-title div {
    display: inline;
    color: #ffc107;
}

.hidden-flag{
    display: none;
}

.experience{
    transition: 0.5s;
}


.work-detail{
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}


.contact-section{
    color: #fff;
    text-align: center;
    padding-bottom: 75px;
}

.contact-title{
    font-size: 40px;
    line-height: 100px;
    letter-spacing: 2px;
    font-weight: 500;
}

.contact-content{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(187, 187, 187);
    font-size: 22px;
    padding-bottom: 40px;
    letter-spacing: 2px;
}

.contact-btn{
    cursor: pointer;
    padding: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #ffc107;
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 2px;
    transition: all .5s ease;
}

.contact-btn:hover{
    background-color: #dfa701;
    font-weight: 400;
    transition: all .5s ease;
}


@media screen and (max-width: 650px) {
    .mobile-chalk-txt {
        background-image: url(../../images/chalk_txt_mobile.png);
        background-repeat: no-repeat;
        height: 70px;
        width: 300px;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .chalk-txt {
        display: none;
    }

    .intro-section {
        width: 95%;
    }

    .avator-card {
        margin-top: 1rem;
    }

    .skill-left {
        width: 100%;
        text-align: center;
    }

    .skill-right {
        display: none;
    }
}