* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.my-navbar {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 2rem;

}

.my-name{
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.my-navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.my-navbar ul li {
    font-size: 17px;
    font-weight: 400;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.my-navbar ul li:hover {
    cursor: pointer;
    color: #ffc107;
    border-bottom: 1px solid #ffc107;
}

.selected-item {
    cursor: pointer;
    color: #ffc107;
    border-bottom: 1px solid #ffc107;
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}