.footer-wrapper {
  background-color: #0a0a0a;
  position: relative;
}

.auth-info {
  text-align: center;
  opacity: 0.5;
  color: #fff;
  bottom: 3px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding: 9px 0;
}

.footer-content {
  display: flex;
}
